src/main/mule/100m-get-customer-record.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="e7b6071f-6ff9-4b90-9df1-426240c344c3" objectStore="Object_store" keyGenerationExpression="#[vars.customerNumber]"/>
	<flow name="100m-get-customer-data:customerIDFlow" doc:id="188f711a-3d13-411c-8f01-8ba636f6c77a">
		<set-variable value="100m-get-customer-data;customerIDFlow" doc:name="Set flowName" doc:id="fe132b34-af06-4518-b26d-05923a9d501b" variableName="flowName"/>
		<ee:transform doc:name="Transform Message" doc:id="9231b103-c7fb-4cf3-915b-3c258f6a98c4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="locale" ><![CDATA[%dw 2.0
import dwls::commonFunctions
output application/java
---
commonFunctions::setLocale(attributes.queryParams['locale'])]]></ee:set-variable>
				<ee:set-variable variableName="customerNumber" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'customerID']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="log-request-subFlow" doc:id="436c4eaf-bc06-4f38-8acf-c1458cd9a474" name="log-request-subFlow"/>
		<ee:cache doc:name="Cache" doc:id="d5e6a0b9-b849-4d6d-b7d6-92a99311fde5" cachingStrategy-ref="Caching_Strategy">
			<db:select doc:name="Select" doc:id="bf10126b-bfe0-4ad6-8633-1a72ea7dfc54" config-ref="MySQL_Config">
			<db:sql><![CDATA[select * from customers where customerNumber = :customerID]]></db:sql>
			<db:input-parameters><![CDATA[#[{customerID: attributes.uriParams.'customerID'}]]]></db:input-parameters>
		</db:select>
			<ee:transform doc:name="Transform Message" doc:id="e116fcbf-41d0-4674-917a-563c9873cce2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		</ee:cache>
		<java:invoke-static doc:name="Invoke static" doc:id="60b9ab40-9ee3-4d0c-b33f-b76718703f78" class="com.openshift.mule.AmountFormatter" method="amountFormatter(Integer,String)" target="formattedAmount" targetValue="#[payload default 0.00]">
			<java:args><![CDATA[#[{ arg0:(payload[0].creditLimit) as Number, arg1: vars.locale as String }]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Transform Message" doc:id="74534b80-2447-451d-9b0e-496dbe7cccd7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload map (customer) -> {
(customer mapObject (value, key) -> {
    (creditLimit: vars.formattedAmount) if key as String == 'creditLimit',
    ((key):value) if (key as String !='creditLimit')
  })
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="log-response-subFlow" doc:id="a6962b5a-ab54-45d4-96ee-f3e302e5a17f" name="log-response-subFlow"/>
		<error-handler ref="100m-customer-appError_Handler" />
	</flow>
</mule>
